body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease;
    height: 100vh;
}
.container {
    /* background-color: white; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* padding: 20px;
    margin: 20px; */
    opacity: 0.7; /* Adjust the opacity value as needed */
}